<!DOCTYPE html>
<html>
  <head>
    <title>RailsWiki</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">  
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>



<div id="main-forms-container">
  <div id="forms-container">
  
    <h1 class='login-header-1'>TO DO LIST<h1>
    <h2 class='login-header-2'>Log in</h2>
    <p class="notice-p"><%=render 'layouts/alerts'%></p>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <p> Email </p>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", style: 'background: #f5f5f5; opacity:0.7; filter:alpha(opacity=70);
          font-family: Cabin Sketch, cursive; text-align: center; border: solid black;' %>
      </div>
      <br>
      <div class="field">
        <p>Password</p>
        <%= f.password_field :password, autocomplete: "current-password", 
        style: 'background: #f5f5f5; opacity:0.7; filter:alpha(opacity=70);"
         border-radius: 10px; font-family: Cabin Sketch, cursive; text-align: center; border: solid black;' %>
      </div>
      
      <% if devise_mapping.rememberable? %>
        <div class="field" id="remember">
          <%= f.check_box :remember_me, style: 'background-color: #f5f5f5; font-family: Cabin Sketch, cursive; text-align: center' %>
          Remember me
        </div>
      <% end %>
      <br>
    <div class='logs-container '>
        <div class="actions">
          <%= f.submit "Log in", class: 'btn login-btn' %> <%= render "devise/shared/links" %>
        </div>
    <% end %>

      
      </div>
    </div>
  <div>

  </body>
