
<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>
      <ul>
        <% item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group" id="next-item-form">
    <%= form.text_field :item, class: 'form-control', style: 'background: #f5f5f5; opacity:0.9; filter:alpha(opacity=90); text-align: center;
         font-family: Cabin Sketch, cursive;' %>
  </div>

  <div class="form-group">
    <%= form.submit 'Submit', class: 'btn btn-lg' %>
  </div>
<% end %>

