<!DOCTYPE html>
<html>
  <head>
    <title>TodoListRails</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">  
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body>

  <div id='forms-container'>
    <h1 id="edit-item-header">Editing Item</h1>
    <br>
    <%= render 'form', item: @item %>
    <%= link_to 'Back', items_path, class: 'sign-out-btn btn btn-md btn-dark' %>
  </div>

</body>
